<div class="container col-6 m-3 payment-div">
    <h2>Payment for order N.324</h2>
    <form>
        <div class="mb-3">
            <div class="row">
                <div class="col-auto">
                    <label for="cardNumber" class="form-label col-auto">Card Number</label>
                </div>
                <div class="col-auto">
                    <input type="number" class="form-control col-auto" id="cardNumber" name="cardNumber" ngModel required>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary my-2" value="OK">
                </div>   
            </div>
        </div>
    </form>
</div>